[Unit]
Description=24x7 Final Fantasy Stream
After=syslog.target network-online.target 

[Service]
Type=simple
User=zanarkand
ExecStart=/opt/zanarkand/zanarkand.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
